* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 160%;
  user-select: none;
}

body {
  background: $color-white;
  color: $color-black;
  @include initial-font(18px);
  // overflow-x: hidden;
  // overflow-y: auto;
}

a {
  text-decoration: none;
  color: $color-blye;
}

::-webkit-scrollbar {
  width: 0;
}

.no-ident {
  margin: 0 auto;
}
