/* кайф https://google-webfonts-helper.herokuapp.com/fonts/open-sans?subsets=cyrillic,latin */
// В index.html выставлен preload шрифта(woff2)

@font-face {
	font-family: 'Open Sans';
	font-weight: normal;
	font-style: normal;
	font-display: swap; // отрисовать текст, после загрузки шрифта-перерендер
	src: url('../assets/fonts/open-sans-v18-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Regular'), local('OpenSans-Regular'), local('Open Sans'),
		 url('../assets/fonts/open-sans-v18-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/open-sans-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers, высокая степень сжатия*/ 
		 url('../assets/fonts/open-sans-v18-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers, высокая степень сжатия*/
		 url('../assets/fonts/open-sans-v18-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../assets/fonts/open-sans-v18-latin_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }