@font-face {
	font-family: "Open Sans Regular";
	src: url("../assets/fonts/OpenSans-Regular.eot");
	src: url("../assets/fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
		url("../assets/fonts/OpenSans-Regular.woff") format("woff"),
		url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans SemiBold";
	src: url("../assets/fonts/OpenSans-SemiBold.eot");
	src: url("../assets/fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"),
		url("../assets/fonts/OpenSans-SemiBold.woff") format("woff"),
		url("../assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans Bold";
	src: url("../assets/fonts/OpenSans-Bold.eot");
	src: url("../assets/fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
		url("../assets/fonts/OpenSans-Bold.woff") format("woff"),
		url("../assets/fonts/OpenSans-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
