
$color-black: #3F3F3F;
$color-darkGrey: #BDBDBD;
$color-grey: #E8E8E8;
$color-white: #FBFBFD;
$color-blye: #007AFF;

$media-mobileSize-small: 440px;
$media-mobileSize-medium: 768px;
$media-desktopSize-large: 1440px;
