.offer-links {
  &__links {
    display: flex;
    justify-content: center;
    margin-top: 8px;
  }

  &__link:first-child {
    margin-right: 48px;
  }

  &__text {
    display: inline;
    margin-right: 10px;
    & > a{
      @include font-regular(24px);
      line-height: 33px;
      letter-spacing: -0.01em;
      text-align: center;
      color: $color-blye;
    }

  }

  &__arrow path {
    fill: $color-blye;
  }
}
