.repair-page {
    min-width: $min-width-component;
    padding: 0 16px;

    &__motivation-list {
        margin-top: 40px;
    }

    &__copyright {
        margin-top: 80px;
    }
}

@media (min-width: $media-mobileSize-medium) {
    .repair-page {
        &__motivation-list {
            margin-top: 48px;
        }
    }
}
