.repair-page {
    min-width: $min-width-component;
    padding: 0 16px;

    &__motivation-list {
        margin-top: 40px;
        margin-bottom: 100px;
    }
}



@media (min-width: $media-mobileSize-medium) {
    .repair-page {
        &__motivation-list {
            margin-top: 48px;
            margin-bottom: 156px;
        }
    }
}
