
.navbar {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;

  &-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    padding: 16px 32px; //onlyMobile
    border-bottom: .5px solid $color-darkGrey; //onlyMobile
  }

  &-logo path{
    fill: $color-darkGrey;
  }

  &-links {
    display: flex;
  }

  &-desktop {
    &-link {
      margin-right: 56px;

      &:last-child { margin-right: 0; }

      & a {
        text-decoration: none;
        color: $color-darkGrey;
      }
    }
  }
}


@media (min-width: $media-mobileSize-medium) {
  .navbar{
    &-wrap {
      padding: 18px 64px;
      border-bottom: none;
      box-shadow: 0 6px 10px  rgba(0, 0, 0, .05);;
    }
    &-desktop-link {
      @include font-regular(14px);
    }
  }
}

@media (min-width: $media-desktopSize-large) {
  .navbar {
    &-wrap {
      padding: 24px 64px;
    }
    &-desktop-link {
      @include font-regular(18px);
    }
  }
}
