
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-links {
    display: flex;
  }

  &-desktop-link {
    margin-right: 20px;
    & a{
      text-decoration: none;
      color: $color-grey;
    }
  }
}
