.price-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    text-align: left;
    @include font-regular(14px);
    border-bottom: 0.5px solid $color-darkGrey;

    &:hover {
        @include font-bold(14px);
        cursor: pointer;
    }

    &_theme_active{
        @include font-bold(14px);
        color: $color-blye;
    }

    &:last-child {
        border-bottom: none;
    }

    &__description-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__subtitle {
        @include font-semibold(11px);
        color: $color-darkGrey;
    }

    &__cost-block {
        display: flex;
        align-items: center;
    }

    &__cost {
        margin-right: 8px;
    }
}
